{% extends "layout/layout-login.html" %}
{% block content %}

    {% if validlink %}
    <div class="container">
        <p>Por favor ingresa y confirma una nueva contraseña.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            {{ form.new_password1.errors }}
             <input type="password" id="new_password1" name="new_password1" class="form-control" placeholder="Nueva contraseña" required>
             <br>
             {{ form.new_password2.errors }}
                <input type="password" id="new_password2" name="new_password2" class="form-control" placeholder="Repetir contraseña" required>
            <td><input class="btn btn-md btn-primary "type="submit" value="Cambiar mi contraseña" /></td>
        </form>
    {% else %}
      <div class="alert alert-danger">
        <h1>Cambio de contraseña ha fallado</h1>
        <p>El link de cambio de contraseña es invalido por favor ingresa de nuevo el correo y la nueva contraseña.</p>
    </div>
    {% endif %}
    </div>

{% endblock %}