{% extends 'layout/index.html' %}
{% block title %} ERP - Eliminar Cliente {% endblock %}
{% block content %}
<section>
    <div class="container  bg-light shadow rounded">
        <br> <br>
        <form action="" method="POST" class="horizontal-form">
            {% csrf_token %}
            <div class="row">
               <div class="col-md col-lg col-sm ">
                    <h4 class="text-center text-danger" ><b>¿Realmente desea eliminar el cliente?</b></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md col-lg col-sm ">
                    <h4 class="text-left"><i class="fas fa-barcode"></i> <b>Documento:</b> {{cliente.documento}}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md col-lg col-sm ">
                    <h4 class="text-left"><i class="far fa-address-card"></i> <b>Nombre:</b> {{cliente}}</h4>
                </div>
            </div> 
              <div class="row">
                <div class="col-md col-lg col-sm ">  
                     <h4 class="text-left"><i class="fas fa-map-marker-alt"></i> <b>Direccion:</b> {{cliente.direccion}}</h4>
                </div>
            </div> 
            <div class="row">
                <div class="col-md col-lg col-sm ">
                    <h4 class="text-left"><i class="fas fa-phone-volume"></i>  <b>Telefono:</b> {{cliente.telefono}} </h4>
                </div>
            </div> 
                <div class="col-md-12">
                    <div class="card-footer bg-transparent text-center">
                        <button type="submit" class="btn btn-danger text-light btn-fill btn-wd"><i class="fas fa-paper-plane"></i> Eliminar</button>
                        <a type="button" href="{% url 'cliente:cliente'  %}" class="btn btn-success text-light btn-fill btn-wd"><i class="fas fa-window-close"></i> Cancelar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}